body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin-top: 80px;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #ccc;
}

h1 {
    margin-bottom: 25px;
}

.password-box {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

#password {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

label {
    display: block;
    margin-top: 10px;
}

#length {
    width: 60px;
    padding: 7px;
}

#message {
    margin-top: 15px;
}
